{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "DEBUG": true
  },
  "rules": {
    "strict": 1,
    "quotes": 1,
    "no-var": 1,
    "no-undef": 1,
    "no-undefined": 1,
    "no-unused-vars": 1,
    "accessor-pairs": 1,
    "no-unexpected-multiline": 1,
    "no-unreachable": 1,
    "valid-jsdoc": 1,
    "require-jsdoc": 1,
    "default-case": 2,
    "eqeqeq": [
      2,
      "smart"
    ],
    "no-extra-bind": 1,
    "no-magic-numbers": 1,
    "no-useless-concat": 1,
    "yoda": 1,
    "camelcase": 1,
    "max-depth": 1,
    "complexity": [
      1,
      3
    ],
    "max-len": [
      1,
      100,
      4
    ],
    "constructor-super": 1,
    "no-const-assign": 1,
    "prefer-arrow-callback": 1
  }
}
